.div1{
    background-color: lightgrey;
    width: 800px;
    border: 15px solid green;
    padding: 50px;
    margin: 20px;
    text-align: justify;
  text-justify: inter-word;
  }
  .div2{
    background-color: lightgrey;
    width: 800px;
    border: 15px solid green;
    padding: 50px;
    margin: 20px;
    text-align: justify;
  text-justify: inter-word;
  }
